@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-sans:'Open Sans';
@font-face {
    font-family: "FuturaStd-CondensedBold";
    src: url("../fonts/FuturaStd-CondensedBold.otf");
}

;
h1 {
    line-height: 50px;
    font-family: "FuturaStd-CondensedBold";
    @media (min-width: 768px) {
        font-size: 40px;
    }
    @media (min-width: 992px) {
        font-size: 50px;
    }
}

h2 {
    font-size: 30px;
    line-height: 50px;
}

p,
li {
    font-size: 16px;
    line-height: 35px;
    font-family: $font-sans;
    @media (max-width: 576px) {
        font-size: 20px
    }
    @media (min-width: 768px) {
        font-size: 16px;
    }
    @media (min-width: 992px) {
        font-size: 16px;
    }
    ;
}